.column-custom{
    border-top: 2px solid #050a4a;
    border-bottom: 1px solid #9ca3ff;
    border-right: 1px solid #9ca3ff;
    border-left: 1px solid #9ca3ff;
    padding-top: 5px;
    margin-left: 3%;
    padding-bottom:320px
}
.custom-header {
    border-bottom: 1px solid #9ca3ff;
}